<h1>Edit Shrkified Link</h1>

<%= render :partial => 'error_messages' %>

<div class="row">
	<div class="center edit-box">
		<%= form_for(@link) do |f| %>

			<%= f.label :url, "Full URL" %>
			<%= f.text_field :url %>
			
			<%= f.label :vanity_url, "Custom URL Tag (Optional)" %>
			<%= f.text_field :vanity_url %>
			</br>

			<%= f.submit "Shrkify", 	class: "btn btn-large btn-info" %>
		<% end %>
	</div>
</div>