<h1>All Shrkified Links</h1>

<%= render :partial => 'error_messages' %>

<table class="table table-striped table-bordered">  
    <thead>  
      <tr>  
        <th>Link URL</th>
        <th>Shrk Link</th>
        <th>Custom</th>
        <th>Visit Count</th>
		<th></th>
      </tr>
    </thead>
	<tbody>
		<% @links.each do |link| %>
		<tr>
			<td><%= link.url %></td>
			<td><%= link_to "#{root_url}#{link.short_url}", "#{root_url}#{link.short_url}" %></td>
			<td><% if link.vanity_url %>
				<%= link_to "#{root_url}#{link.vanity_url}", "#{root_url}#{link.vanity_url}" %>
			<% else %>
				<%= link_to "Add Custom URL", edit_link_path(link)%>
			<% end %></td>
			<td><%= link.visit_count %></td>
			<td><%= link_to 'Edit', edit_link_path(link) %>
		</tr>
		<% end %>
	</tbody>
</table>