<%= render :partial => 'error_messages' %>


<div class="center hero-unit">
	<h1>Shrkify Your Link!</h1>

	<div class="row">
		<div class="span6 offset3">
			<%= form_for(@link) do |f| %>

				<%= f.label :url, "Shrkify a URL" %>
				<%= f.text_field :url %>
				
				</br>

				<%= f.submit "Shrkify", 	class: "btn btn-large btn-primary" %>
			<% end %>
		</div>
	</div>
</div>