<!DOCTYPE html>
<html>
  <head>
    <title><%= "Shrkify" %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Go Sharks!", 'http://sjsharks.com', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    root_path %></li>
              <li><%= link_to "Links",   links_path %></li>
			  <div class="user-header"> 
			  <% if current_user %>
			  	<li>Signed in as <%= current_user.name %>
				<%= link_to "Sign out", signout_path%></li>
			  <% else %>
			    <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
			  <% end %>
			  <div class="user-header">
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>